@import "tailwindcss";

/* !=====CUSTOM FONTS===== */
@font-face {
  font-family: "Gilroy-normal";
  src: url("assets/gilroy/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-bold";
  src: url("./assets/gilroy/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-Thin";
  src: url("./assets/gilroy/Gilroy-Thin.ttf");
}

/* !=====REUSEABLE STYLES===== */
@theme {
  --color-gray-light: #242424;
  --color-stack-color: #18171c;
  --color-grey-text: #676768;
  --color-grey-600: #161616;
  --color-purple-500: #ff1493;
  --color-white-500: #e4dede;
}

/* !=====GENERAL STYLING===== */
@layer base {
  body {
    font-family: "Gilroy-normal", sans-serif;
    background: #040404;
    color: #fff;
    width: 100%;
    user-select: none;
    overflow-x: hidden;
  }

  h1 {
    @apply text-4xl font-bold mb-2 text-gradient;
  }

  h2 {
    @apply font-bold tracking-widest;
  }

  h3 {
    @apply font-[Gilroy-bold];
  }

  small {
    @apply text-grey-text font-[Gilroy-bold];
  }

  label {
    position: absolute;
    left: -99999%;
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@layer components {
  /* ! ===== CONTAINER WRAPPER STYLING =====*/
  .wrapper {
    @apply grid grid-cols-1 lg:grid-cols-[20rem_auto] lg:gap-6 lg:mt-10 lg:pl-10 lg:pr-5 w-full;
  }

  /* ! ===== NAVIGATION STYLING =====*/
  .navContainer {
    @apply flex lg:flex-col px-5 py-7  lg:p-0 lg:gap-10 text-center bg-grey-600 items-center lg:rounded-lg h-[7vh]  lg:h-[40rem] border-b border-purple-500 justify-between;
  }

  .navImg {
    @apply bg-gray-light w-full mx-auto flex justify-center p-1 lg:p-6 rounded-2xl shadow shadow-[rgba(197,195,195,0.2)] mt-5 lg:mt-10 mb-5;
  }

  .navlinks {
    @apply flex items-center gap-3 transition-all;
  }

  .aboutContainer {
    @apply bg-grey-600 py-7 pl-6 xl:p-15 xl:px-8 2xl:px-36 xl:rounded-lg flex flex-col gap-6;
  }

  .card {
    @apply bg-stack-color flex flex-col gap-5 p-4 border-2 border-[#2c2d32] rounded-lg;

    & div {
      @apply flex items-center gap-3;
    }
  }

  .active {
    @apply bg-white text-grey-600 font-bold p-1.5 rounded-md;
  }

  .experience {
    @apply bg-stack-color flex flex-col lg:flex-row p-6 border-2 border-[#2c2d32] rounded-lg gap-4;
  }

  .experienceStack {
    @apply flex gap-3 items-center bg-gray-light justify-start w-32 p-1 border-2 border-[#2c2d32] rounded-md cursor-pointer;

    & span {
      @apply text-lg;
    }
  }

  /* ! ===== CONTACT STYLING =====*/
  .contactInput {
    @apply border p-3 xl:w-[75%] rounded-lg;
  }

  .contactButton {
    @apply bg-gray-light px-3 py-2 rounded-lg shadow shadow-[rgba(197,195,195,0.2)] flex gap-3 items-center text-lg cursor-pointer duration-300 hover:shadow-[rgba(197,195,195,0.5)];

    & span {
      @apply text-gradient font-[Gilroy-bold];
    }
  }
}

/* ! ===== TEXT GRADIENT STYLING =====*/
@utility text-gradient {
  @apply text-transparent bg-gradient-to-r from-[#4169E1] via-[#F08080] to-[#DB7093] bg-clip-text;
}
